
        table, th, td {
          border:1px solid black;
        }
        th {

            font-family: Georgia;
            
            }
        td {

            font-family: Comic Sans MS;
                
            }
        table {
                border-collapse: collapse;
                width: 50%;
                margin: 20px auto;
        }
        th, td {
            border: 2px solid #000000;
            padding: 10px;
            text-align: center;
        }