table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    height: 20%;
    width: 20%;
  }
  
 
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  

  tr:nth-child(even) {
    background-color: #ffffff;
  }