table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #aa6868;
    text-align: left;
    height: 10%;
    width: 10%;
  }
 th {
  background-color:#d6a9a9;
}
 
  tr:nth-child(odd) {
    background-color: white;
  }
  

  tr:nth-child(even) {
    background-color: white;
    height: 70px;
  }

  .Dies_de_Clase {
    background-color:rgb(167, 91, 103);
  }
  
  .PrimeraColumna {
    background-color: rgb(201, 96, 113); 
  }
  
  .smx-m08 {
    background-color: rgb(158, 64, 80); 
  }

.DiesDeClase,
.PrimeraColumna,
.SegundaColumna,
.TerceraColumna,
.CuartaColumna,
.QuintaColumna,
.SextaColumna,
.SeptimaColumna {
            height: 70px;
        }