* {
    box-sizing: border-box;
  }

.footer {
    padding: 10px;
    text-align: center;
    background: rgb(216, 163, 163);
    clear: both;
    width: 100%;
}

.footer ul {
    list-style: none;
    padding: 0;
    height: 100%;
}

.footer li {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer a:hover {
    background-color: rgb(136, 70, 70);
    color: white;
}

@media screen and (max-width: 600px) {
  nav, main, aside {
    width: 100%;
  }
}  
  
 body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(146, 90, 90);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

header img {
    width: 100px;
}

aside {
    float: left;
    width: 20%;
    background-color: #DD9B8D;
    padding: 10px;
    text-align: center;
    border: 5px solid rgb(73, 12, 12);
}

h2 {
    color: #333;
}

aside a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 10px;
    background-color: #d9d9d9;
}

aside a:hover {
    background-color: rgb(136, 70, 70);
    color: white;
}

main {
    float: left;
    width: 60%;
    background-color: #e6e6e6;
    padding: 10px;
    border: 5px solid  rgb(73, 12, 12);
    height: 690px;
}

nav {
    float: left;
    width: 20%;
    background-color: #ccc;
    padding: 10px;
    border: 5px solid  rgb(73, 12, 12);
    height: 60%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shiba {
    width: 210px;
    height: 289px;
    border-radius: 20%;
}
.mapache  {
    width: 210px;
    height: 289px;
    border-radius: 20%;
}

.footer a:hover {
    background-color: rgb(136, 70, 70);
    color: white;
}
