
legend {
    background-color: black;
    color: white;
}


label {
    display: block;
    color: #000000;
  }

form {
    display: inline-block;

}
input { 
    font-family: arial;
} 
.dades {
    background-color: rgb(0, 247, 255);
}
.dades2 {
    background-color: rgb(241, 255, 52);
}