p {
    background-color: red;
    display: inline-block;
    color: yellow;
    font-family: Arial;
}

img {
    border: 2px dotted red;
    padding: 2px;
    height: 250px;
    width: 350px;
}

li {
    color: rgb(139, 139, 139);
    font-family: Arial;
}

h1 {
    font-family: Arial;
}